<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Manager Debts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Gestionar Clientes</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Administración</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Nombre de Usuario
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
                        <li><button class="dropdown-item" (click)="logout()">Cerrar Sesión</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2 class="display-5 text-center">{{this.title}}</h2>
<div class="container">
    <div class="dataPanel d-flex justify-content-between">
        <div class="addDebt">
          <button class="btn btn-primary" type="button" data-bs-toggle="modal"
          data-bs-target="#createDebt" (click)="getCustomers()">Añadir Cuenta</button>
        </div>
        <div class="totalDebts m-3">
            Valor Total Deudas: <strong>${{this.sumDebts}}</strong>
        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead>
            <tr class="table-light">
                <th scope="col">Cliente</th>
                <th scope="col">Valor deuda</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha deuda</th>
                <th scope="col">Últmo pago</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let debts of debtsList">
                <td>{{debts.customerName}}</td>
                <td>{{debts.debtValue}}</td>
                <td>{{debts.debtState}}</td>
                <td>{{debts.dateDebt | date: 'dd/LLL/yyyy'}}</td>
                <td>{{debts.paymentDate | date: 'dd/LLL/yyyy' | ValidationDate: "Sin Registro"}}</td>
                <td><a (click)="getDebt(debts.iddebt)" class="btnActions" data-bs-toggle="modal"
                        data-bs-target="#editDebt">
                        <fa-icon [icon]="faPencilSquare"></fa-icon>
                    </a></td>
                <td><a (click)="deleteDebt(debts.iddebt)"class="btnActions btnDeleteDebt">
                        <fa-icon [icon]="faTrashCan"></fa-icon>
                    </a></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modals editDebt -->

<div class="modal" id="editDebt" tabindex="-1" aria-labelledby="editDebtlLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Deuda</h5>
            </div>
            <div class="modal-body">
                <form #formEditDebt="ngForm" (ngSubmit)="editDebt(debt.iddebt,formEditDebt)" *ngIf="debt">
                    <div class="form-group">
                        <label for="customerName" class="form-label mt-4">Cliente</label>
                        <input type="text" class="form-control" id="customerName" #customerName="ngModel"
                            [(ngModel)]="debt.customerName" name="customerName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="debtValue" class="form-label mt-4">Deuda Actual</label>
                        <input type="number" class="form-control" id="debtValue" #debtValue="ngModel"
                            [(ngModel)]="debt.debtValue" name="debtValue" disabled>
                    </div>
                    <div class="form-group">
                        <label for="payment" class="form-label mt-4">Abono</label>
                        <input type="number" class="form-control" id="payment" name="payment"
                            (blur)="catchEvent($event)">
                    </div>
                    <div class="form-group">
                        <label for="debtPayment" class="form-label mt-4">Nuevo saldo</label>
                        <input type="number" class="form-control" id="debtPayment" name="debtPayment"
                            [(ngModel)]="debtPayment" disabled>
                    </div>
                    <div class="form-group mb-3">
                        <label for="debState" class="form-label mt-4">Estado de deuda</label>
                        <select class="form-select" id="debState" name="debState" [(ngModel)]="debt.debtState">
                            <option *ngIf="debtPayment > 0">Debe</option>
                            <option *ngIf="debtPayment <= 0">Pago Total</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Modificar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modals Create Debt -->
<div class="modal" id="createDebt" tabindex="-1" aria-labelledby="createDebtlLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Editar Deuda</h5>
          </div>
          <div class="modal-body">
              <form #formCreateDebt="ngForm" (ngSubmit)="setDebt(formCreateDebt)">
                <div class="form-group mb-3">
                  <label for="customerName" class="form-label mt-4"></label>
                  <select class="form-select" id="customerName" name="customerName" #customerName="ngModel" [(ngModel)]="createDebt.customerName">
                      <option *ngFor="let customers of customerList">{{customers.customerName}}</option>
                  </select>
              </div>
                <div class="form-group mb-3">
                      <label for="value" class="form-label mt-4">Deuda Actual</label>
                      <input type="number" class="form-control" id="value" name="value" #debtValue="ngModel" [(ngModel)]="createDebt.debtValue">
                  </div>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Crear Deuda</button>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
          </div>
      </div>
  </div>
</div>
